.chessboard {
    width: 400px;
    height: 400px;
    margin: 20px auto;
    border: 10px solid #333;
}
.row {
    display: flex;
}
.square {
    width: 50px;
    height: 50px;
}
.white {
    background-color: #f0d9b5;
}
.black {
    background-color: #72533a;
}